<nav class="navbar sticky-top navbar-expand-md m-2 navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand">Employee Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto text-center ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="dashboard"
            >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="employee"
            >Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="attendence"
            >Attendance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="advance"
            >Advance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="leaves"
            >Leaves</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="salary"
            >Salary</a>
          </li>
          
        </ul>
        <form class="d-flex">
          <button class="btn btn-success" (click)="onLogout()" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </nav>
<div class="container-fluid ">
 <router-outlet></router-outlet>
</div>
<div class="fixed-bottom bg-primary text-white p-2 text-center"> Developed by Akash Suthar</div>